@model IEnumerable<WebApplication1.Models.Product>

@{
    ViewData["Title"] = "myproduct";
}

<h1>myproduct</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="product-grid text-center">
@foreach (var item in Model)
{
    <div class="product">
        <a asp-action="myDetails" asp-route-id="@item.Id" id="test">

            <img src="../fileuploads/@Html.DisplayFor(modelItem => item.Img)" style="width:400px;height:500px">
        </a>

        <h3>
            @Html.DisplayFor(modelItem => item.PName)
        </h3>
        <p>價格： @Html.DisplayFor(modelItem => item.Price)</p>

    </div>
}
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
